<!doctype html>
<html ng-app="wittgenstein-app">
<meta name="apple-mobile-web-app-capable" content="yes" />
<head>
    <title>Wittgenstein Tractatus Concept Network</title>

    <link href="node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="node_modules/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
    <style type="text/css">
        #conceptNetwork {
            margin: auto;
            width: 100%;
            height: 90%;
            border: 1px solid lightgray;
            display: none;
        }
        #textDiv {
            margin-left: 10px;
            margin-right: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        #loadersmall {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            border: 5px solid #f3f3f3;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
            border-top: 5px solid #555;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        @-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0px;
                opacity: 1
            }
        }
        @keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }
            to {
                bottom: 0;
                opacity: 1
            }
        }
    </style>

    <script src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/vis/dist/vis.js"></script>
    <script type="text/javascript" src="node_modules/fuse.js/src/fuse.min.js"></script>

    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="node_modules/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js"></script>

    <script type="text/javascript" src="data/edges.js"></script>
    <script type="text/javascript" src="data/nodes.js"></script>

</head>



<body onload="loadNet()" style="margin:0;" ng-controller="WittgensteinController">

    <div id="loadersmall"></div>
    <div id="conceptNetwork" class="animate-bottom">
    </div>
    <div id="textDiv">
        <p>
            Search Wittgenstein's Tractatus Logico-Philosophicus
            <input type="text" class="form-control" id="searchTextbox" ng-model="searchTextBox" placeholder="logical">
            <p id="resultTextArea"> Concept and Proposition </p>
        </p>
        <p>
            <a  href="https://gitlab.com/wittgenstein-network/wittgenstein-network.gitlab.io">About</a>
        </p>
    </div>    
    <script>
        function loadNet() {
            setTimeout(showPage, 5500);
        }

        function showPage() {
            document.getElementById("loadersmall").style.display = "none";
            document.getElementById("conceptNetwork").style.display = "block";
        }
    </script>

    <script src="js/tractatus.js"></script>



</body>

</html>